# -*- coding: utf-8 -*-
#
#  Copyright 2019 CNES
#
#  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
#  in compliance with the License. You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software distributed under the License
#  is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
#  or implied. See the License for the specific language governing permissions and
#  limitations under the License.

###########################
# Common rules applicable
########################### 

# Linux editing
*.swp
*~

# Python stuff
*.py[cod]
*.egg
*.egg-info/
eggs/
develop-eggs/
pip-log.txt

# Compiled stuff
*.so
*.dll
exe/
obj/
bin/
var/
lib/
lib64/

# Build
dist/
build/
parts/
sdist/
install/
.installed.cfg
version_from_git.py

# Unit test / coverage reports
.coverage/
.tox/
.scannerwork/
nosetests.xml
tests_*.log

# Generated documentation
doc/doc_sphinx/source/api_doc/

# Eclipse working directories
.refactorings/

# mypy cache
.mypy_cache

####################################################
# Insert hereafter, your project's specific rules
#################################################### 
.settings/org.eclipse.core.resources.prefs
